{% extends 'base.html.twig' %}

{% block title %}Blog - Geex Dashboard{% endblock %}

{% block mainHeader %}Blog{% endblock %}

{% block content %}Form Elements is used to style and format the input field{% endblock %}

{% block body %}

<div class="geex-content__blog">
    <div class="geex-content__blog__wrapper">
        <div class="row">
            <div class="col-xxl-3 col-xl-4 col-md-6 mb-25">
                <div class="geex-content__blog__single">
                    <div class="geex-content__blog__single__img">
                        <a href="blog-details">
                            <img src="assets/img/blog/2.png" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="geex-content__blog__single__content">
                        <div class="geex-content__blog__single__quickinfo">
                            <a href="#">Amir Nisi</a>
                            <span>10 September, 2024</span>
                        </div>
                        <h5 class="geex-content__blog__single__title">
                            <a href="blog-details">Getting eyeballs what you write for business tricky.</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-6 mb-25">
                <div class="geex-content__blog__single">
                    <div class="geex-content__blog__single__img">
                        <a href="blog-details">
                            <img src="assets/img/blog/4.png" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="geex-content__blog__single__content">
                        <div class="geex-content__blog__single__quickinfo">
                            <a href="#">Amir Nisi</a>
                            <span>10 September, 2024</span>
                        </div>
                        <h5 class="geex-content__blog__single__title">
                            <a href="blog-details">Which tool seems the best
                                content writing strategy</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-6 mb-25">
                <div class="geex-content__blog__single">
                    <div class="geex-content__blog__single__img">
                        <a href="blog-details">
                            <img src="assets/img/blog/3.png" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="geex-content__blog__single__content">
                        <div class="geex-content__blog__single__quickinfo">
                            <a href="#">Amir Nisi</a>
                            <span>10 September, 2024</span>
                        </div>
                        <h5 class="geex-content__blog__single__title">
                            <a href="blog-details">More then just buzzwords
                                market concepts of SEO</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-6 mb-25">
                <div class="geex-content__blog__single">
                    <div class="geex-content__blog__single__img">
                        <a href="blog-details">
                            <img src="assets/img/blog/1.png" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="geex-content__blog__single__content">
                        <div class="geex-content__blog__single__quickinfo">
                            <a href="#">Amir Nisi</a>
                            <span>10 September, 2024</span>
                        </div>
                        <h5 class="geex-content__blog__single__title">
                            <a href="blog-details">Understanding Lending
                                The Basics and Beyond</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-6 mb-sm-25">
                <div class="geex-content__blog__single">
                    <div class="geex-content__blog__single__img">
                        <a href="blog-details">
                            <img src="assets/img/blog/2.png" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="geex-content__blog__single__content">
                        <div class="geex-content__blog__single__quickinfo">
                            <a href="#">Amir Nisi</a>
                            <span>10 September, 2024</span>
                        </div>
                        <h5 class="geex-content__blog__single__title">
                            <a href="blog-details">Getting eyeballs what you
                                write for business is tricky</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-6 mb-sm-25">
                <div class="geex-content__blog__single">
                    <div class="geex-content__blog__single__img">
                        <a href="blog-details">
                            <img src="assets/img/blog/3.png" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="geex-content__blog__single__content">
                        <div class="geex-content__blog__single__quickinfo">
                            <a href="#">Amir Nisi</a>
                            <span>10 September, 2024</span>
                        </div>
                        <h5 class="geex-content__blog__single__title">
                            <a href="blog-details">Xi, Putin hail 'new era' of ties in united...</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-6 mb-sm-25">
                <div class="geex-content__blog__single">
                    <div class="geex-content__blog__single__img">
                        <a href="blog-details">
                            <img src="assets/img/blog/4.png" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="geex-content__blog__single__content">
                        <div class="geex-content__blog__single__quickinfo">
                            <a href="#">Amir Nisi</a>
                            <span>10 September, 2024</span>
                        </div>
                        <h5 class="geex-content__blog__single__title">
                            <a href="blog-details">How to Start Cloud Kitchen 6 Proven Steps.</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-6">
                <div class="geex-content__blog__single">
                    <div class="geex-content__blog__single__img">
                        <a href="blog-details">
                            <img src="assets/img/blog/1.png" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="geex-content__blog__single__content">
                        <div class="geex-content__blog__single__quickinfo">
                            <a href="#">Amir Nisi</a>
                            <span>10 September, 2024</span>
                        </div>
                        <h5 class="geex-content__blog__single__title">
                            <a href="blog-details">What can you pay and buy
                                with a credit card?.</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="geex-content__form__single d-flex gap-20 justify-content-between pb-0">
        <div class="geex-content__form__single__left">
            <p class="geex-content__form__single__text">Showing 4 of 256 data</p>
        </div>
        <div class="geex-content__form__single__right d-flex gap-20">
            <ul class="geex-content__pagination flex gap-10">
                <li class="geex-content__pagination__item">
                    <a href="#" class="geex-content__pagination__link active">
                        1
                    </a>
                </li>
                <li class="geex-content__pagination__item">
                    <a href="#" class="geex-content__pagination__link">
                        2
                    </a>
                </li>
                <li class="geex-content__pagination__item">
                    <a href="#" class="geex-content__pagination__link">
                        3
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
